@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section class="py-5">
    <div class="container">
        <h1>Hexi-Tech</h1>
        <div>
            <p class="lead" style="font-size: 24px; font-style: italic;">
                "Because technology is only a click away."
            </p>
        </div>
    </div>
</section>
