@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-style: italic;">Hexi-Tech</h1>
    <p class="lead" style="font-size: 30px; font-style: italic;">
        Making sure technology is only a click away.
    </p>
</div>
<section class="py-5">
    <div class="container">
        <h1>Header Placeholder</h1>
        <div>
            <p class="lead" style="font-size: 24px; font-style: italic;">
                "Placeholder."
            </p>
        </div>
    </div>
</section>