@{
    ViewData["Title"] = "About us";
}

<link href="/css/AboutUs.css" rel="stylesheet" id="bootstrap-css" />

<div class="bg-light mb-n5">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-8">
                <h1 class="display-4">About Hexi-Tech - about You</h1>
                <p class="lead text-muted mb-0"><strong>"Making sure technology is only a click away!"</strong></p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5" style="background-image: url(https://localhost:5001/img/AboutUs/shaking-hands.jpg); width: 1110px; height: 730px;">
        <div class="row align-items-center mb-5">
            <div class="rounded-right col-lg-6 order-2 order-lg-1" style="background-color: lightgray; opacity: 0.96;">
                <i class="fa fa-bar-chart fa-2x mb-2 mt-3 text-primary"></i>
                <h2 class="font-weight-light">Our slogan is not just a placeholder.</h2>
                <p class="font-italic text-muted mb-3">What stands behind our words is a team of highly-motivated individuals with one common goal in mind - to bring technology closer to you than ever before - in the easiest way possible. Therefore we have picked only the highest of quality products to make it to you - our valued customer.</p><a class="btn btn-light px-5 rounded-pill shadow-sm mb-2" asp-controller="Products" asp-action="All">See our Catalog</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="rounded-left col-lg-6" style="background-color: lightgray; opacity: 0.96;">
                <i class="fa fa-leaf fa-2x mb-2 mt-3 text-primary"></i>
                <h2 class="font-weight-light">A few words about privacy - the core component of trust.</h2>
                <p class="font-italic text-muted mb-3">We take our customers' privacy very seriously. Your privacy is as important to us as your trust - because there cannot be one without the other. We take any precautions necessary to ensure your sensitive information stays where it should - between you and us. At no point in time will we share your personal data with third parties. You can read up on our policy of how we handle your data and utilize Cookies here:</p><a class="btn btn-light px-5 rounded-pill shadow-sm mb-2" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5" style="background-image: url(https://localhost:5001/img/AboutUs/meeting.jpg); width: 1110px; height: 740px;">
        <div class="row mb-4">
            <div class="rounded-right col-lg-4" style="background-color: lightsteelblue; opacity: 0.94;">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted"><strong>The people dedicated to bringing technology to your doorstep.</strong></p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-6 col-sm-6 mb-5" style="opacity: 0.95">
                <div class="bg-white rounded-pill shadow-sm py-5 px-4">
                    <span class="fa fa-user" style="font-size: 30px;"></span>
                    <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-6 col-sm-6 mb-5" style="opacity: 0.95">
                <div class="bg-white rounded-pill shadow-sm py-5 px-4">
                    <span class="fa fa-user" style="font-size: 30px;"></span>
                    <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-6 col-sm-6 mb-5" style="opacity: 0.95">
                <div class="bg-white rounded-pill shadow-sm py-5 px-4">
                    <span class="fa fa-user" style="font-size: 30px;"></span>
                    <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-6 col-sm-6 mb-5" style="opacity: 0.95">
                <div class="bg-white rounded-pill shadow-sm py-5 px-4">
                    <span class="fa fa-user" style="font-size: 30px;"></span>
                    <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>