@model HexiTech.Models.Products.ProductFormModel

@{
    ViewBag.Title = "Edit product.";
}

<partial name="_ProductFormPartial" model="@Model" />

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#selectType').prop('disabled', true);

            $('#selectCategory').on('mouseover click change',
                function () {
                    var t = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: '@Url.Action("GetCascadeTypes", "Products")',
                        type: 'POST',
                        dataType: 'json',
                        data: { catId: $('#selectCategory').val() },
                        headers: {
                            "RequestVerificationToken": t
                        },
                        success: function(data) {
                            $('#selectType').prop('disabled', $('#selectCategory').val() == 0 ? true : false);
                            $('#selectType').html('').append('<option value="0">Choose...</option>');
                            $(data).each(function (index, item) {
                                $('#selectType').append(`<option value="${item.id}">${item.name}</option>`);
                            });
                        }
                    });
                }
            );
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}